/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,500&display=swap');

:root {
    --header-height: 3.5rem;
    --hue1: 250;
    --sat: 66%; /*variable for saturation*/
    --lig: 75%; /*variable for lightness*/
    --hue2: 219;

    --first-color: hsl(var(--hue1), var(--sat), var(--lig));
    --first-color-alt: hsl(var(--hue1), var(--sat), 71%);
    --title-color: hsl(var(--hue2), 15%, 95%);
    --text-color:hsl(var(--hue2), 8%, 75%);
    --text-color-light:hsl(var(--hue2), 4%, 55%);
    --body-color:hsl(var(--hue2), 48%, 8%);
    --container-color:hsl(var(--hue2),32%, 12%);

    /*font style*/
    --body-font: 'Poppins', sans-serif;
    --biggest-font: 1.75rem;
    --h1-font: 1.5rem;
    --h2-font: 1.25rem;
    --h3-font: 1rem;
    --normal-font: .938rem;
    --small-font: .813rem;
    --smaller-font: .75rem;
    --smallest-font: .625rem;

    /*font weight*/
    --font-medium: 500;
    --font-semibold: 600;

    /*z-index: for depth effects*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/*responsive typography*/
@media screen and (min-width: 960px)
{
    :root{
        --biggest-font:2.5rem;
        --h1-font:2.25rem;
        --h2-font:1.5rem;
        --h3-font: 1.25rem;
        --normal-font: 1rem;
        --small-font: .875rem;
        --smaller-font: .813rem;
    }
}

/*base*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body,
button,
input,
textarea{
    font-family: var(--body-font);
    font-size: var(--normal-font);
}

body{
    background-color:var(--body-color);
    color: var(--text-color);
}

h1,h2,h3{
    color: var(--title-color);
    font-weight: var(--font-semibold);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.button{
    display: inline-block;
    background-color: var(--first-color);
    color: var(--body-color);
    padding: .75rem 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    transition: .3s;
}

.button:hover{
    background-color: var(--first-color-alt);
    color: var(--body-color);
}

.button--ghost{
   background-color: transparent;
   border: 2px solid var(--first-color);
   color: var(--first-color); 
}
.container{
    max-width: 968px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.grid{
    display: grid;
    gap: 1.25rem;
}

.main{
    overflow: hidden;
}

.section{
    padding: 4.5rem 0 1rem;
}

.section__title,
.section__subtitle{
    text-align: center;
}

.section__title{
    /* font-size: var(--h2-font-size); */
    color: var(--first-color);
    margin-bottom: 2rem;
}

.section__subtitle{
    display: block;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}

/*Header and navigation bar*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    z-index:var(--z-fixed);
}

.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-betweeen;
    align-items: center;
    position: relative;
}

#theme-button{
    position: absolute;
    right:20px;
    top:20px
}

.nav_logo{
    color: var(--first-color);
    font-weight: var(--font-medium);
    transition: .4s;
}

.nav_logo:hover{
    color: var(--first-color-alt);
}

.nav__menu{
    position: fixed;
    bottom: 1rem;
    background-color: hsla(var(--hue2), 35%, 16%, .9);
    width: 90%;
    border-radius: 4rem;
    padding: 1rem 2.25rem;
    backdrop-filter: blur(5px);
}

.nav_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_link{
    color: var(--text-color);
    font-size: 1.25rem;
    padding: .4rem;
    display: flex;
    border-radius: 5rem;
}

/* Active link */
.active-link{
    background: linear-gradient(180deg,
                hsla(var(--hue1), var(--sat), var(--lig), 1)
                hsla(var(--hue1), var(--sat), var(--lig), .2)
                );
    box-shadow: 0 0 16px hsla(var(--hue1), var(--sat), var(--lig), .4);
}

/* .active-link:hover{
    box-shadow: 0 0 16px hsla(var(--hue2), var(--sat), var(--lig), .9);
} */

.scroll-header{
    box-shadow: 0 4px 4px hsla(0, 0%, 4%, .3);
}
.home__container{
    position: relative;
    row-gap: 4.5rem;
    padding-top: 2rem;
}

.home__data{
    text-align: center;
}

.greeting,
.home__education{
    
    font-size: var(--small-font);
    font-weight:var(--font-medium) ;
    /* margin-bottom: 2rem; */
}

.greeting{
    display:block;
    color: var(--title-color);
    margin-bottom: .25rem;
}

.home__education{
    color: var(--title-color);
    margin-bottom: 2.5rem;
}

.home__img{
    width: 300px;
}

.home__handle{
    justify-self:center;
    width: 200%;
    /* max-width: none; */
    height: 420px;
    background: linear-gradient(180deg, 
                                hsla(var(--hue1),var(--sat),var(--lig),1),
                                hsla(var(--hue1),var(--sat),var(--lig),.2)
                                );
    /* border-radius: 10rem 10rem 1rem 1rem; */ 
    display:flex;
    align-items: flex-end; 
    justify-content: center;
    overflow-y: hidden;
}

/* ############### ABOUT ############# */

.about__container{
    row-gap: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_img{
  display:flex;
  justify-content: center;
}

.abimg{
    width: 220px;
    border-radius: 3.5rem;
    margin: 1rem;
}

.about__data{
    text-align: center;
}

.about__info{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
    margin-bottom: 3rem;
}

.about__box{
    background-color: var(--container-color);
    border-radius: .75rem;
    padding: .75rem .5rem;
}

.about__icon{
    font-size:1.5rem;
    color: var(--first-color);
    margin-bottom: .5rem;
}

.about__title{
    font-size: var(--small-font);
}

.about_subtitle{
    font-size: var(--smallest-font);
}

.about__description{
    margin-bottom: 2rem;
}

/* ################ SKILLS ################# */

.skills__container{
    row-gap: 2rem;
    padding-top: 1rem;
    margin-bottom: 3rem;
}

.skills__content{
    background-color: var(--container-color);
    padding: 1.5rem;
    border-radius: 1.25rem;
}

.skills__title{
    font-size: var(--normal-font);
    font-weight:var(--font-medium);
    color:var(--first-color);
    text-align: center;
    margin-bottom: 1.5rem;
}

.skills__box{
    display:flex;
    justify-content: center;
    column-gap: 2.5rem;
}

.skills__group{
    display: grid;
    align-content: flex-start;
    row-gap: 1rem;
}

.skills__data{
    display:flex;
    column-gap: .5rem;
}

.skills .bxs-badge-check{
    font-size: 1rem;
    color: var(--first-color);
}

.skills__name{
    font-size: var(--normal-font);
    font-weight: var(--font-medium);
    line-height: 18px;
}

/* ############### educational back ############# */

.educ__container{
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-bottom: 3rem;
    padding-top: 1rem;
}

.educ__card1{
    background-image: url(unnamed.jpg);
    background-color: var(--container-color);
    padding: 3rem 1.5rem 1.5rem;
    border-radius: 1rem;
}

.educ__card2{
    background-image: url(https://mietschool.ac.in/wp-content/uploads/2022/06/school-home.jpg) ;
    background-color: var(--container-color);
    padding: 3rem 1.5rem 1.5rem;
    border-radius: 1rem;
}

.educ__card3{
    background-image: url(https://images.shiksha.com/mediadata/images/articles/1681724068phpQFLbVC.jpeg);
    background-color: var(--container-color);
    padding: 3rem 1.5rem 1.5rem;
    border-radius: 1rem;
}

.educ__subtitle,
.educ__title{
    color:black
}

.educ__button{
    color:blueviolet;
    transition: .4s;
    display: flex;
    align-items: center;
    column-gap: .25rem;
    cursor:pointer
}

.educ__button:hover,
.educ__button:hover .educ__icon
{
    color: black;
    transform: translateX(.25rem)
    /* cursor:pointer; */
}

.educ__button4:hover,
.educ__button4:hover .educ__icon
{
    color: white;
    transform: translateX(.25rem)
    /* cursor:pointer; */
}

.educ__icon{
    font-size: 1rem;
    transition:.4s;
}
/* ###################Achievements###################### */
.achievement__container{
    grid-template-columns: repeat(3, 2fr);
    row-gap: 2rem;
    padding-top: 1rem;
    margin: 3rem;
}
.achivement__box{
    background-color: var(--container-color);
    padding: 1.5rem;
    border-radius: 1.25rem;
    margin-bottom: 3rem;
}

/* ################ BLOG ############### */
.liked{
    color:red;
}

.blog{
    width: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:var(--container-color);
    padding: 1.25rem 1.5rem;
    border-radius: 1.5rem;
    margin-bottom: 3rem;
}

.blog__heading{
    font-size: var(--normal-font);
    font-weight: var(--font-medium);
    margin-bottom: .25rem;
}

.blog__description{
    font-size: var(--small-font);

}

.blog1{
    background-color:var(--container-color);
    padding: 1.25rem 1.5rem;
    border-radius: 1.5rem;
    margin-bottom: 3rem;
}

/* ############# blog comment ######## */
.input{
 position: relative;
 margin-bottom: 2rem;
 height: 4rem;
}

.name{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid var(--text-color-light);
    background: none;
    color: var(--text-color);
    outline: none;
    padding: 1.5rem;
    border-radius: .75rem;
    z-index: 1;
}

.comment{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid var(--text-color-light);
    background: none;
    color: var(--text-color);
    outline: none;
    padding: 1.5rem;
    border-radius: .75rem;
    z-index: 1;
}

.ctitle{
    position: absolute;
    top: -.75rem;
    left: 1.25rem;
    font-size: var(--smaller-font);
    padding: .25rem;
    background-color: var(--body-color);
    z-index: 10;
}

.area{
    height:11rem;
}

.area textarea{
    resize: none;
}

.button2{
    display: inline-block;
    background-color: var(--first-color);
    color: var(--body-color);
    padding: .75rem 1rem;
    border-radius: 47%;
    font-weight: var(--font-medium);
    transition: .3s;
}

.button2:hover{
    background-color: var(--first-color-alt);
}

/* ##########footer############# */
.footer{
    background-color: var(--first-color);
}

.footer__container{
    padding: 2rem 0 6rem
}

.footer__title{

/* color: var(--body-color); */
text-align: center;
margin-bottom: 2rem;
}

.footer__list{
display: flex;
justify-content: center;
column-gap: 1.5rem;
margin-bottom: 2rem;
}

.footer__list a{
    color: rgb(101, 92, 117);
    font-size: 30px;
    margin-left: 10px;
    box-shadow: none;
    
}

.cont__link i {
    transition: transform 0.3s ease-in-out; /* Add smooth transition effect */
}

.cont__link:hover i {
    transform: scale(1.2); /* Adjust the scale factor as needed */
}

.footer__list .ins{
    color: rgb(170, 24, 134);
}

.footer__list .git{
    color: black;
}

.footer__list .mail{
    color: rgb(30, 215, 96);
}

.footer__list .link{
    color: rgb(35, 100, 241)
}

/* ############### scroll bar ############# */

::-webkit-scrollbar{
    width: .6rem;
    /* border-radius: .5rem; */
    background-color: hsl(var(--hue2), 8%,38%);
}

::-webkit-scrollbar-thumb{
    background-color: hsl(var(--hue2), 8%, 26%);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
    background-color: hsl(var(--hue2), 8%, 20%);
}


/* ###########theme################# */
.change-theme{
    font-size: 1.25rem;
    cursor: pointer;
    transition: .3s;
}

.change-theme:hover{
    color: var(--first-color);
}

/* #############light theme################ */
body.light-theme{
    --title-color: hsl(var(--hue2), 15%, 15%);
    --text-color:hsl(var(--hue2), 8%, 35%);
    /* --text-color-light:hsl(var(--hue2), 100%, 99%); */
    --body-color:hsl(var(--hue2), 100%, 99%);
    --container-color:#fff;
}

body.dark-theme{
    --title-color: hsl(var(--hue2), 15%, 95%);
    --text-color:hsl(var(--hue2), 8%, 75%);
    --text-color-light:hsl(var(--hue2), 4%, 55%);
    --body-color:hsl(var(--hue2), 48%, 8%);
    --container-color:hsl(var(--hue2),32%, 12%);
}

/* ##############breakpoints################# */

/* for small devices */
@media screen and(max-width: 320px){
    .nav__menu{
        padding: 1rem 1.5rem;
    }

    .home__container {
        position: relative;
        row-gap: 4.5rem;
        padding-top: 2rem;
        display: flex;
        flex-direction: column; /* Change to column layout */
        align-items: center; /* Center items horizontally */
    }
    
    .cv{
        /* background-color: blue; */
        margin-top: 1.5rem; /* Adjust the margin as needed */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .home__handle{
     width: 150px;
     height: 253px;
    }
     
    .home__buttons{
        margin: 1rem;
    }
    .home__handle{
        width: 150px;
        height: 253px;
    }

    .home__img{
        width: 130px;
    }

    .about__info{
        grid-template-columns: repeat(2, 1fr);
    }

    .skills__box{
        column-gap: 1rem;
    }

    .skills__name{
        font-size: var(--small-font);
    }

    .educ__container{
        grid-template-columns: repeat(1,145px);
        justify-content: center;
    }
}

/* for medium device */

@media screen and (min-width: 576px){
    .nav__menu{
        width: 400px;
        left: 0;
        right:0;
        margin : 0 auto;
    }

    .about__info{
        grid-template-columns: repeat(3, 140px);
        justify-content: center;
    }

    .about__description{
        padding: 0 5rem;
    }

    .skills__container{
        justify-content: center;
    }

    .skills_content{
        padding: 2rem 4rem;
    }

    .educ__container{
        grid-template-columns: repeat(2,160px);
        justify-content: center;
    }
}

/* for large device */
@media screen and (min-width:992px){
    .container{
        margin-left: auto;
        margin-right: auto;   
    }

    .section{
        padding: 6.5rem 0 1rem
    }

    .section__title{
        margin-bottom: 3.5rem;
    }

    .nav{
        height: calc((--header-height)+1rem);
    }


    .about__container{
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        column-gap: 4rem;
        /* display: flex; */
    }

    .abimg{
        width: 350px;
        /* display: flex;
    justify-content: center;
    align-items: center; */
    }

    .about__data{
     text-align: center;
     padding: 1rem 1.25rem;
    }

    .about__description{
        padding: 0 4rem 0 0;
        margin-bottom: 2.5rem;
    }

    .skills__container{
        grid-template-columns: repeat(2,350px);
        column-gap:3rem;
    }
    
    .educ__container{
        grid-template-columns:repeat(3, 300px) ;
    }
    
    /* .ecard{
        box-sizing: border-box;
        margin: 10px;
    } */
}